page-login {
    .checkbox-md .checkbox-checked {
        border-color: #f2622c !important;
        background-color: #f2622c !important;
    }
    .checkbox-ios .checkbox-checked {
        border-color: #f2622c !important;
        background-color: #f2622c !important;
    }
    .item.item-md .checkbox-md {
        position: static;
        display: block;
        margin: 9px 7px 9px 4px !important;
    }
    .item.item-ios .checkbox-ios {
        position: static;
        display: block;
        margin: 9px 7px 9px 4px !important;
    }
    .checkbox-md .checkbox-icon {
        border-radius: 2px;
        position: relative;
        width: 16px;
        height: 16px;
        border-width: 2px;
        border-style: solid;
        border-color: #f46629 !important;
    }
    .checkbox-ios .checkbox-icon {
        border-radius: 2px;
        position: relative;
        width: 16px;
        height: 16px;
        border-width: 2px;
        border-style: solid;
        border-color: #f46629 !important;
    }

    .separator {
        &::before,
        &::after {
            content: "";
            display: inline-block;
            width: 42%;
            height: 2px;
            background-color: #afaeae;
        }
    }

    div.item-inner {
        margin-left: 0 !important; 
        margin-right: 0 !important; 
    }

    .item > ion-icon,
    .item-inner > ion-icon {
        min-height: 2.4rem;
        font-size: 2.4rem;
        color: #999;
    }

    // ion-input.auth-input {
    //     flex-direction: row;
    //     &::before {
    //         content: "";
    //         display: inline-block;
    //         width: 2px;
    //         height: 100px;
    //         background-color: lightgray;
    //     }
    // }
}
