<ion-content padding style=" background-size: contain;background-image: url('assets/imgs/background.jpg');background-repeat: no-repeat; background-size: cover;">

  <button ion-button class="lang-icon" clear *ngIf="langdirection == 'ltr'" (click)="changelang()">ع</button>
  <button ion-button class="lang-icon" clear *ngIf="langdirection == 'rtl'" (click)="changelang()">E</button>      


  <p style="margin-top: -23px;margin-bottom: 0px;text-align:center;margin-top: 0px;"><img style="text-align: center; width: 150px;" src="assets/imgs/logo.png"></p>
  <h2 style="margin-bottom: 20px;margin-top: 0px;text-align: center;color: white;font-weight: bold;">{{'login' | translate}}</h2>

<div style="box-shadow: 1px 5px 2px 0px #d3d3d3b8;background-color: white;border-radius: 15px;border:1px solid lightgray;">


  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-item no-lines style="border-radius: 10px;margin-top: 20px;border: 2px solid lightgray;margin-right: 15px;margin-left: 15px;width: 90%;">
      <ion-icon item-start name="md-person"></ion-icon>
      <ion-input [dir]="langdirection" type="text" formControlName='username' placeholder="{{'username'| translate}}" ></ion-input>
    </ion-item>
    
    <ion-row *ngIf="loginForm.controls['username'].errors?.required &&
      loginForm.controls['username'].touched">
      <ion-col>
        <div class="error-message">
          {{'usernamerequired'| translate}}
        </div>
      </ion-col>
    </ion-row>

    <ion-item no-lines style="border-radius: 10px;margin-top: 20px;border: 2px solid lightgray;margin-right: 15px;margin-left: 15px;width: 90%;">
      <ion-icon item-start name="md-key"></ion-icon>
      <button type="button" ion-button clear item-end (click)="togglePwd()">
        <ion-icon [ios]="iconName" [md]="iconName"></ion-icon>      
      </button>
      <ion-input [dir]="langdirection" [type]="pwdType" formControlName='Password' placeholder="{{'password' | translate}}" ></ion-input>
    </ion-item>
    <ion-row *ngIf="loginForm.controls['Password'].errors?.required &&
      loginForm.controls['Password'].touched">
      <ion-col>
        <div class="error-message">
          {{'passwordrequired'| translate}}
        </div>
      </ion-col>
    </ion-row>

    <ion-row style="justify-content: center;margin-top: 20px;">
      <ion-col col-6>
        <button type="submit" ion-button [disabled]="!loginForm.valid" style="color:white;background-color:#f2622c;border-radius: 15px;width: 100%;">{{'login' |translate}}</button>
      </ion-col>
    </ion-row>
  </form>

  <ion-row>
    <ion-col style="display: flex;justify-content: center;">
      <p style="color:gray;margin-right: 10px;color:gray;margin-left: 10px;" (click)="forget()">{{'forget' | translate}}</p>
    </ion-col>
    <ion-col col-6 style="display: flex;justify-content: center;">
      <div style="display: inline-flex;align-items: center;">
        <ion-checkbox [(ngModel)]="remember"></ion-checkbox>        
        <ion-label style="color:#f2622c;font-size: 1em;margin-right: 6px;margin-left: 6px;">{{'remember' | translate}}</ion-label>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col style="text-align: center;">
      <p class="separator" style="font-size: 1.5em;color:gray;text-align: center;margin-top: 0px;margin-bottom: 0px;">{{'or' |translate}}</p>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 10px;" (click)="facebookLogin()">
    <ion-col col-10 style="background-color: #4444ec;margin: 0 auto;">
      <ion-col col-2 style="background-color: #6363f3;"><ion-icon name="logo-facebook" style="color:white;"></ion-icon> </ion-col>
      <ion-col col-8 style="color:white;"> {{'facebook' | translate}}</ion-col>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top:5px;" (click)="googleLogin()">
    <ion-col col-10 style="background-color: #e26c40;margin: 0 auto;">
      <ion-col col-2 style="background-color: #ea8058;"><ion-icon name="logo-googleplus" style="color:white;"></ion-icon> </ion-col>
      <ion-col col-8 style="color:white;"> {{'google'| translate}}</ion-col>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top:5px;margin-bottom: 30px;" (click)="doTwLogin()">
    <ion-col col-10 style="background-color: #03A9F4;margin: 0 auto;">
      <ion-col col-2 style="background-color: #43baf1;"><ion-icon name="logo-twitter" style="color:white;"></ion-icon> </ion-col>
      <ion-col col-8 style="color:white;"> {{'twitter' |translate}}</ion-col>
    </ion-col>
  </ion-row>
</div>

<ion-row>
  <ion-col>
    <p style="text-align: center;">{{'noaccount' | translate}} <span (click)="opensign()" style="color: #f2622b;">{{'restno' | translate}}</span></p>
  </ion-col>
</ion-row>
</ion-content>
