.ion-ios-customicon-outline,
.ion-ios-customicon,
.ion-md-customicon,
.ion-md-customicon-outline {
  content: url('../assets/imgs/bag.png');
  max-width: .8em;
  height: 1.2em;
  margin-top: -4px !important;
}

body.keyboard-is-open ion-tabbar {
  display: none;
}

body.keyboard-is-open scroll-content {
  margin-bottom: 0 !important;
}

body.keyboard-is-open .tabbar {
  display: none;
}

body.keyboard-is-open .scroll-content {
  margin-bottom: 0 !important;
}

