.ion-ios-customicon-outline,
.ion-ios-customicon,.ion-md-customicon,.ion-md-customicon-outline {
  content: url('/assets/imgs/bag.png');
  max-width: .8em;
  height: 1.2em;
  margin-top: -4px !important;
}