page-listdetails {
    .accordion-list {
        background-color: whitesmoke;
        //background: color($colors, light);
        height: 100%;
      }
    .rtl .saveBtn{
      float:left;
    }
    .ltr .saveBtn{
      float:right;
    }
      .section {
        background: #fff;
        color: white;
        margin-bottom: 4px;
      }
    
      .section-active {
        color: #fff;
      }
    
      .child {
        background: #e8e7e6;
        color: #000;
        margin-bottom: 4px;
      }
    
      .child-item {
        background: white;
        padding: 10px;
      }
    
      .label {
        margin: 0px;
      }
      [col-2] {
        padding: 2px !important;
    }
      .list {
        margin-bottom: 4px;
      }
    
      .section-active {
        background: #fff;
        // color: white;
      }
    .circle-pic{
        border:0px;
        width: 60px;
        height: 60px;
        border-radius: 2% !important;
        text-align: center;
        margin-top: 0px;
        margin-left: 1px;
    }
    .text-input-md {

        margin: 1px !important;
        padding: 0;
        width: 100%;
        text-align: center !important;
    
    }
    .text-input-ios {

        margin: 1px !important; 
        padding: 0;
        width: 100%;
        text-align: center !important;
    
    }

    .child-details {
      display: flex;      
      align-items: center;
    }

    .details-col {
      text-align: center;
    }

    .header-details {
      display: flex;
      align-items: center;
      justify-content: center;
    }
}
