page-edit-profile {
    ion-label {
        font-size: 18px;
    }

    ion-input {
        border: 1px solid #ccc;
        padding: 0 5px 0 5px;
        border-radius: 5px;
    }


    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
    .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child  {
        border-bottom-color:unset !important;
        box-shadow:unset !important;
    }

    .list-md .item-input:last-child {
        border-bottom: none !important;
    }

    .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner,
    .list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child,
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        box-shadow:unset !important;
    }


    .error-message {
        color: #f00;
        margin-left: 12px;

        &::before {
            content: "*";
        }
    }


    ion-item.item-input:not(.item-input-has-focus):not(.input-has-value) .label-md[floating] {
        margin-left: 10px !important;
        margin-right: 10px !important;
        font-size: 15px;
        color: #BDBDBD;
     }

  
    
}
