page-shoppinglist {
    .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
        border-color: #e46f3f !important;
        opacity: 1;
    }
    .segment-ios .segment-button.activated, .segment-ios .segment-button.segment-activated {
        border-color: #e46f3f !important;
        opacity: 1;
    }
    .segment-md .segment-button {
        color: #e46f3f !important;
    }
    .segment-ios .segment-button {
        color: #e46f3f !important;
    }
}
