page-verification {
 .text-input-md {
        margin: 0px 0px !important;
        padding: 0;
        color: gray !important;
        width: calc(100% - 8px - 8px);
    }
    .text-input-ios {
        margin: 0px 0px !important;
        padding: 0;
        color: gray !important;
        width: calc(100% - 8px - 8px);
    }
}
