<!--
  Generated template for the GroupsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
   <ion-buttons left *ngIf="langdirection=='ltr'">
        <button ion-button  menuToggle>
        <ion-icon  class="menuToggle" ios="md-list" md="md-list" style="font-size: 3.2rem;    margin-left: 0px;
        margin-right: 0px;"></ion-icon>
      </button>
      </ion-buttons>
       <ion-buttons right *ngIf="langdirection=='rtl'">
        <button ion-button  menuToggle>
        <ion-icon  class="menuToggle" ios="md-list" md="md-list" style="font-size: 3.2rem;    margin-left: 0px;
        margin-right: 0px;"></ion-icon>
      </button>
      </ion-buttons>
    <ion-title style="text-align:center;">{{'groups' | translate}}</ion-title>
    <ion-buttons right *ngIf="langdirection=='ltr'" (click)="friendlist()">
      <button ion-button icon-only>
          <ion-icon name="md-people" style="font-size: 2.2rem;color:white"></ion-icon>
    
      </button>
    </ion-buttons>
    <ion-buttons left *ngIf="langdirection=='rtl'" (click)="friendlist()">
      <button ion-button icon-only>
          <ion-icon name="md-people" style="font-size: 2.2rem;color:white"></ion-icon>
    
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-searchbar *ngIf="langdirection=='ltr'" [dir]="langdirection" style="margin-top: 0px;" placeholder="Search For Group" (ionInput)="onInput(myInput)"  (ionCancel)="onCancel()" [(ngModel)]="myInput">
    </ion-searchbar>
    <ion-searchbar *ngIf="langdirection=='rtl'" [dir]="langdirection" style="margin-top: 0px;" placeholder="البحث عن مجموعة" (ionInput)="onInput(myInput)"  (ionCancel)="onCancel()" [(ngModel)]="myInput">
    </ion-searchbar>
    <ion-row style="margin-top: 5px;" *ngIf="show==true">
    <ion-col col-6 style="box-shadow: 1px 3px 6px 1px lightgrey;" *ngFor="let item of groups">
    <p [dir]="langdirection" style="margin-bottom: 0px;font-size: 1.5em;margin-top: 0px;" (click)="deletegroup(item.group_id)"><ion-icon name="ios-close"></ion-icon></p>
    <p style="text-align:center;margin-bottom: 2px;"><img style="text-align:center;margin-top: 0px;" class="circle-pic" src="assets/imgs/camera.png"></p>
    <p style="text-align:center;">{{item.group_name}}</p>
    <p style="text-align:center;">
    <button ion-button style="background-color:#e26c40;color:white" (click)="editgroup(item.group_id,item.group_name)" *ngIf="item.admin.username==username">{{'modify' | translate}}
    </button>
    </p>
    </ion-col>
   
    </ion-row>
    <ion-row style="margin-top: 5px;" *ngIf="show==false">
      <ion-col col-6 style="box-shadow: 1px 3px 6px 1px lightgrey;" *ngFor="let item of groups">
      <p [dir]="langdirection" style="margin-bottom: 0px;font-size: 1.5em;margin-top: 0px;" (click)="deletegroup(item.id)"><ion-icon name="ios-close"></ion-icon></p>
      <p style="text-align:center;margin-bottom: 2px;"><img style="text-align:center;margin-top: 0px;" class="circle-pic" src="assets/imgs/camera.png"></p>
      <p style="text-align:center;" *ngIf="langdirection=='ltr'">{{item.name_en}}</p>
      <p style="text-align:center;" *ngIf="langdirection=='ltr'">{{item.name_ar}}</p>

      <p style="text-align:center;">
      <button ion-button style="background-color:#e26c40;color:white" (click)="editgroup(item.group_id,item.group_name)">{{'modify' | translate}}
      </button>
      </p>
      </ion-col>
     
      </ion-row>
    <ion-fab *ngIf="!this.platform.isRTL" right bottom>
        <button ion-fab style="background:#e26c40;" (click)="addgroup()"><ion-icon style="color:white;" name="add"></ion-icon></button>
      </ion-fab>
      <ion-fab *ngIf="this.platform.isRTL" left bottom>
        <button ion-fab style="background:#e26c40;" (click)="addgroup()"><ion-icon style="color:white;" name="add"></ion-icon></button>
      </ion-fab>
</ion-content>
