

<ion-content padding>
<div style ="margin-top: 100px;" [hidden]="hide">
<p style="text-align: center;color: #e26c40;font-weight: bold;font-size: 1.4em;">{{'code' | translate}}</p>
<p style="text-align: center;color: gray;font-size: 1.1em;margin-bottom: 4px;">{{'entercode' | translate}}</p>
<ion-row *ngIf="langdirection=='ltr'" style=" margin-top: 40px;">
    <ion-input type="text" style="margin-right: 5px;font-size: 30px;width:40px;height:40px;border-bottom: 2px solid #f2622b;color:#e19419;text-align:center" maxlength="1" (input)='onInputTime($event)' [(ngModel)]='input1'></ion-input>
    <ion-input type="text" style="margin-right: 5px;margin-left: 5px;font-size: 30px;width:40px;height:40px;border-bottom: 2px solid #f2622b;color:#e19419;text-align:center" maxlength="1"  (input)='onInputTime1($event)' [(ngModel)]='input2' #focusInput1></ion-input>
    <ion-input type="text" style="margin-right: 5px;margin-left: 5px;font-size: 30px;width:40px;height:40px;border-bottom: 2px solid #f2622b;color:#e19419;text-align:center" maxlength="1"  (input)='onInputTime2($event)' [(ngModel)]='input3' #focusInput2></ion-input>
    <ion-input type="text" style="margin-left: 5px;font-size: 30px;width:40px;height:40px;border-bottom: 2px solid #f2622b;color:#e19419;text-align:center" maxlength="1"  (focus)='onInputTime3()' [(ngModel)]='input4' #focusInput3></ion-input>
  </ion-row>
    <ion-row *ngIf="langdirection=='rtl'" style=" margin-top: 40px;">
        <ion-input type="text" style="margin-left: 5px;font-size: 30px;width:40px;height:40px;border-bottom: 2px solid #f2622b;color:#e19419;text-align:center" maxlength="1"  (focus)='onInputTime3()' [(ngModel)]='input4' #focusInput3></ion-input>
        <ion-input type="text" style="margin-right: 5px;margin-left: 5px;font-size: 30px;width:40px;height:40px;border-bottom: 2px solid #f2622b;color:#e19419;text-align:center" maxlength="1"  (input)='onInputTime2($event)' [(ngModel)]='input3' #focusInput2></ion-input>
        <ion-input type="text" style="margin-right: 5px;margin-left: 5px;font-size: 30px;width:40px;height:40px;border-bottom: 2px solid #f2622b;color:#e19419;text-align:center" maxlength="1"  (input)='onInputTime1($event)' [(ngModel)]='input2' #focusInput1></ion-input>
        <ion-input type="text" style="margin-right: 5px;font-size: 30px;width:40px;height:40px;border-bottom: 2px solid #f2622b;color:#e19419;text-align:center" maxlength="1" (input)='onInputTime($event)' [(ngModel)]='input1'></ion-input>
    </ion-row>
    <ion-row>
    <p [dir]="langdirection" style="margin-top: 20px;">{{'notreach' | translate}}<span style="color:#f2622c" (click)="resend()">{{'resend'| translate}}</span></p>
  <ion-col col-3></ion-col>
  <ion-col col-6>
    <button ion-button style="margin-top: 12px;color:white;background-color:#f2622c;border-radius: 15px;width: 100%;" (click)="gohome()"> {{'verify' | translate}}</button>
  </ion-col>
  <ion-col col-3></ion-col>
</ion-row>
</div>
<div style ="margin-top: 100px;" [hidden]="show">
    <p style="text-align: center;color: #e26c40;font-weight: bold;font-size: 1.4em;">{{'password' | translate}}</p>
    <p style="text-align: center;color: gray;font-size: 1.1em;margin-bottom: 4px;">{{'enterpass' | translate}}</p>
    <ion-item no-lines style="border: 1px solid lightgray;border-radius: 15px;margin-top: 20px;">
    <ion-input [dir]="langdirection" type="password" [(ngModel)]="password" placeholder="{{'enterpass'| translate}}" ></ion-input>
    </ion-item>
    <ion-row>
      <ion-col col-3></ion-col>
      <ion-col col-6>
        <button ion-button style="margin-top: 12px;color:white;background-color:#f2622c;border-radius: 15px;width: 100%;" (click)="gohome()"> {{'verify' | translate}}</button>
      </ion-col>
      <ion-col col-3></ion-col>
    </ion-row>
    </div>
</ion-content>
