<ion-header>
  <ion-navbar color="danger">     
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon  class="menuToggle" ios="ios-list" md="ios-list" style="font-size: 3.2rem"></ion-icon>
      </button>
    </ion-buttons>
    <ion-row>
      <ion-col>
        <img src="assets/imgs/homelogo.png" alt="home">
      </ion-col>
    </ion-row>
    <!-- <ion-buttons right style="position: relative;">
      <button ion-button icon-only (click)="friendlist()">
        <ion-icon ios="md-person-add" md="md-person-add" style="font-size: 2.2rem;color:white"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="panel">
    <p style="margin-right: 5px;color: #e26c40;font-weight: bold;font-size: 1.4em;margin-left: 5px;"> {{'mostsell' | translate}}</p>
    <!-- <ion-row *ngIf="langdirection=='rtl'">
      <ion-col col-12>
        <section class="chart-wrapper">
          <canvas class="canvas1" #polarChart ></canvas>
        </section>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col col-12>
        <section class="chart-wrapper2">
          <canvas class="canvas1" #polarChart></canvas>
        </section>
      </ion-col>
    </ion-row>
  </div>

  <div class="panel">
    <p style="margin-right: 5px;color: #e26c40;font-weight: bold;font-size: 1.4em;margin-left: 5px;" [dir]="langdirection"> {{'money' | translate}}</p>

    <ion-row class="progress-bar">
      <div *ngFor="let item of data" [ngStyle]="{'width': item.percentage+'%','background-color':item.color}">
      </div>
    </ion-row>

    <ion-row>
      <ion-col col-9>
        <p style="margin-right: 5px;font-size: 1.1em;margin-left: 5px;width:100%;"> {{'total' | translate}}</p>
      </ion-col>
      <ion-col col-3>
        <p style="font-size: 1.1em;text-align: center;width:100%;">{{price}} {{'R.s' | translate}}</p>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let item of data; let i = index;">
      <ion-col col-3>
        <round-progress style="background-image: 'url({{item.image}})'"
          [current]="item.percentage" [color]="item.color" 
          [radius]="45" [stroke]="7" [max]="100">
        </round-progress>
      </ion-col>
      <ion-col col-6><p>{{item.name}}</p></ion-col>
      <ion-col col-3><p style="text-align: center;">{{item.price}} {{'R.s' | translate}} </p></ion-col>
    </ion-row>
  </div>

</ion-content>
