page-home {

    ion-header {

        ion-col {
            text-align: center;

            img {
                width: 70px;
            }
        }
        
    }

    .chart-wrapper2 {
        width: 100%;
        display: inline-block;
        // margin: 0em 0em;
     }
     .chart-wrapper {
        width: 100%;
        display: inline-block;
        // margin: 0em 0em;
     }
 
     .canvas1  {
        height: 210px !important;
        width:100% !important;
       // margin-top:20px;
        
     }
     .circle-pic{
        border:0px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        margin-left: 1px;
        margin-top: 0px;
    }
}
