<ion-header>
  <ion-navbar color="danger">     
    <ion-buttons left>
        <button ion-button menuToggle>
          <ion-icon  class="menuToggle" ios="ios-list" md="ios-list" style="font-size: 3.2rem"></ion-icon>
        </button>
    </ion-buttons>
    <ion-row>
      <ion-col>
        <img src="../../assets/imgs/homelogo.png" alt="home">
      </ion-col>
    </ion-row>
    <ion-buttons right>
      <button ion-button icon-only (click)="friendlist()">
        <ion-icon ios="md-person-add" md="md-person-add" style="font-size: 2.2rem;color:white"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: #f3f3f3">
  <div style="background-color: white;padding:2px;">
  <p style="margin-right: 5px;color: #e26c40;font-weight: bold;font-size: 1.4em;margin-left: 5px;" [dir]="langdirection"> {{'mostsell' | translate}}</p>
  <!-- <ion-row *ngIf="langdirection=='rtl'">
    <ion-col col-12>
      <section class="chart-wrapper">
        <canvas class="canvas1" #polarChart ></canvas>
      </section>
    </ion-col>
  </ion-row> -->
  <ion-row>
    <ion-col col-12>
      <section class="chart-wrapper2">
        <canvas class="canvas1" #polarChart></canvas>
      </section>
    </ion-col>
  </ion-row>
</div>



<!-- <div style="background-color: white;padding:2px;">
  
</div> -->
  <div style="background-color: white;padding:2px;margin-top: 5px;">
    <p style="margin-right: 5px;color: #e26c40;font-weight: bold;font-size: 1.4em;margin-left: 5px;" [dir]="langdirection"> {{'money' | translate}}</p>
    <ion-row>
      <ion-col col-8>
        <p style="margin-right: 5px;font-size: 1.1em;margin-left: 5px;width:100%;" [dir]="langdirection"> {{'total' | translate}}</p>
      </ion-col>
      <ion-col col-4>
        <p style="font-size: 1.1em;text-align: center;width:100%;" [dir]="langdirection">{{price}} {{'R.s' | translate}}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of data">
      <ion-col col-2><p [dir]="langdirection" style="margin-top: 10px;"><img src="assets/imgs/camera.png" class="circle-pic"></p></ion-col>
      <ion-col col-6><p [dir]="langdirection">{{item.name}}</p></ion-col>
      <ion-col col-4><p style="text-align: center;">{{item.price}} {{'R.s' | translate}} </p></ion-col>
    </ion-row>
  </div>
</ion-content>
