page-groups {
    .circle-pic{
        border:0px;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        text-align: center;
        margin-left: 1px;
    }

    .halfImg {
        width: 50%;
    }

    .fullImg {
        width: 100%;
    }
}
