page-settings {
    .card-md {
        margin: 10px;
        text-align: center;
        border: 1px solid #e26c40;
        // width: calc(60% - 20px);
        width: 120px;
        font-size: 1.4rem;
        background: #fff;
    }
    .card-ios {
        margin: 10px;
        text-align: center;
        border: 1px solid #e26c40;
        // width: calc(60% - 20px);
        width: 120px;        
        font-size: 1.4rem;
        background: #fff;
   }
   .scaleClass{
    transform: scale(-1,1);
}

}
