<ion-header>
  <ion-navbar color="danger" style="text-align:center;">
    <ion-title>{{'friends' | translate}}</ion-title>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon class="menuToggle" ios="ios-list" md="ios-list" style="font-size: 3.2rem;margin-left: 0px;
        margin-right: 0px;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar [dir]="langdirection" placeholder="{{ 'searchfriend' | translate }}" (ionInput)="onInput(myInput)"  (ionCancel)="onCancel()" [(ngModel)]="myInput"></ion-searchbar>
  
  <ion-scroll scrollX="true" style="height:175px;white-space: nowrap;margin-top: 5px;">   
    <div class="subcat" style="box-shadow: 0px 2px 8px #ebe9e9;margin-right: 5px;margin-left: 5px;text-align: center;height: 150px" *ngFor="let item of groups">

      <div *ngIf="item.members?.length == 0 || !item.members" style="width:100px;height:100px;margin:auto;">
        <img style="text-align:center;margin-top: 0px;" class="circle-pic" src="assets/imgs/error.png">
      </div>

      <div *ngIf="item.members?.length == 1" style="width:100px;height:100px;margin:auto;overflow: hidden;border-radius: 50%;">
          <img *ngFor="let member of item.members; let i = index" style="width:80px;border-radius: 50%" src="{{member.profile_pic}}">   
       </div>

       <div *ngIf="item.members?.length > 2" style="width:50px;height:100px;margin:auto;overflow: hidden;border-radius: 50%;">
          <img *ngFor="let member of item.members; let i = index" style="width:40px;border-radius: 50%" src="{{member.profile_pic}}">    
       </div>

      <div *ngIf="item.members?.length > 3" style="width:100px;height:100px;margin:auto;overflow: hidden;border-radius: 50%;">
        <img *ngFor="let member of item.members; let i = index" style="width:40px;border-radius: 50%" src="{{member.profile_pic}}">  
      </div>

      <div style="text-align:center;">{{item.group_name}}</div>
    </div>
  </ion-scroll>

  <div style="padding: 5px;border:1px solid #ebeaea;margin-top: 10px;border-radius: 3px;">
    <p style="color:#e26c40;font-weight:bold;font-size:1.2em;margin-left: 10px;margin-right: 10px;">{{'friendlist'| translate}}</p>
    <p style="color:#e26c40;font-weight:bold;font-size:1.2em" (click)="addfriend()"><ion-icon name="md-add-circle" style="color:#e26c40;margin-right: 10px;margin-left: 10px;"></ion-icon>{{'addnewfriend'| translate}}</p>
    <hr>
    <ion-list>
      <ion-item *ngFor="let item of friends">
        <ion-row>
          <ion-col col-3>
            <img src="{{item.profile_pic}}" class="circle-pic"
            onerror="this.onerror=null;this.src='assets/imgs/camera.png';" style="margin-top: 0px;margin-left: 0px;margin-right: 0px;">
          </ion-col>
      
          <ion-col col-6 style="padding-top: 20px;">
            <p>{{item.username}}</p> 
            <p> {{item.phone}}</p>  
          </ion-col>   
      
          <ion-col col-3 style="align-items: center;display: flex;justify-content: flex-end;">
            <p style="color:gray;text-align: center;" (click)="delete(item.id)">{{'delete' | translate}}</p>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
    
    <!-- <ion-row *ngFor="let item of friends">
      <ion-col col-3>
        <img src="{{item.profile_pic}}" class="circle-pic"
        onerror="this.onerror=null;this.src='assets/imgs/camera.png';" style="margin-top: 0px;margin-left: 0px;margin-right: 0px;">
      </ion-col>

      <ion-col col-6>
        <p>{{item.username}}</p> 
        <p> {{item.phone}}</p>  
      </ion-col>   

      <ion-col col-3 style="align-items: center;display: flex;">
        <p style="color:gray;text-align: center;" (click)="delete(item.id)">{{'delete' | translate}}</p>
      </ion-col>
    </ion-row> -->
      
  </div>
</ion-content>
