// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.tabs-md .tabbar {
    background: #f2622c;
}
@font-face {
    font-family: "makady";
    src: url('../assets/makadyfont/Cocon_ Next Arabic-Regular.otf');  
}
.rtl .searchbar-input {
    text-align: right !important;
}
.tabs-ios .tabbar {
    background: #f2622c;
}
.ion-page.show-page{
    font-family: "makady" !important;
}
.circle-pic{
    border:0px;
    width: 97px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    margin-top: 30px;
    margin-left: 1px;
}
.rtl .searchbar-search-icon{
    right: 16px !important;
    left: auto !important;
}
.alert-wrapper{
    font-family: makady !important;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
    color: white;
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
    color: white;
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}
.tabs-ios .tab-button[aria-selected=true] {
    color: white !important;
    background-color: #f77847;
}
.tabs-md .tab-button-icon {
    margin-top: 1px;
    min-width: 2.4rem;
    font-size: 2.4rem;
    color: white;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -webkit-transform-origin: 50% 150%;
    transform-origin: 50% 150%;
}
.tabs-ios .tab-button-icon {
    margin-top: 1px;
    min-width: 2.4rem;
    font-size: 2.4rem;
    color: white;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -webkit-transform-origin: 50% 150%;
    transform-origin: 50% 150%;
}
.tabs-md .tab-button[aria-selected=true] {
    background-color: #e67043;
    //padding: 0;
}
.tabs-ios .tab-button[aria-selected=true] {
    background-color: #e67043;
   // padding: 0;
}
// .searchbar-md .searchbar-input {
//     padding: 6px 55px;
//     border-radius: 20px;
//     background-position: left 8px center;
//     height: auto;
//     font-size: 1.6rem;
//     font-weight: 400;
//     line-height: 3rem;
//     color: #141414;
//     background-color: #fff;
//     -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
//     box-shadow: 2px 3px 7px 0 rgba(0, 0, 0, 0.14), 13 7px 8px -3px rgba(0, 0, 0, 0.2), 10 1px 5px 6 rgba(0, 0, 0, 0.12);
// }
// .searchbar-ios .searchbar-input {
//     padding: 6px 55px;
//     border-radius: 20px;
//     background-position: left 8px center;
//     height: auto;
//     font-size: 1.6rem;
//     font-weight: 400;
//     line-height: 3rem;
//     color: #141414;
//     background-color: #fff;
//     -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
//     box-shadow: 2px 3px 7px 0 rgba(0, 0, 0, 0.14), 13 7px 8px -3px rgba(0, 0, 0, 0.2), 10 1px 5px 6 rgba(0, 0, 0, 0.12);
// }
.loading-wrapper{
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    background: transparent !important;
}
ion-spinner{
    width: 50px !important;
    height: 50px !important;
}
ion-content {
    background-color: white !important;
}
.toggle-md.toggle-checked .toggle-inner{
    background-color: #e26c40;
}
.toggle-ios.toggle-checked .toggle-inner{
    background-color: #e26c40;
}
.toggle-md.toggle-checked .toggle-icon {
    background-color: #e7c4b7;
}
.toggle-ios.toggle-checked .toggle-icon {
    background-color: #e7c4b7;
}
.searchbar-ios{
    background: white !important;
}


//SideMenu Style
[dir="rtl"] ion-menu[side=left] > .menu-inner {
    right: 0;
    left: auto;
    // transform: translateX(312px) !important;  
    // transition-property: all;
    // transition-duration: 5s; 
}

[dir="rtl"] ion-menu[side=left].show-menu > .menu-inner {
    transform: translateX(0) !important;
}

//for ios sidemenu
[dir="rtl"] ion-nav {
    // will-change: unset !important;
    transition-duration: 1ms !important;
}

[dir="rtl"] ion-nav.menu-content.menu-content-reveal.menu-content-open {
    transform: translateX(-293px) !important;
}

// ion-menu .menu-enabled.show-menu + ion-nav.menu-content.menu-content-reveal.menu-content-open {
//     transform: translateX(-305px) !important;
// }

//Searchbar style
[dir="ltr"] .searchbar-md .searchbar-input, [dir="rtl"] .searchbar-md .searchbar-input {
    border-radius: 24px;
}

[dir="ltr"] .searchbar-md, [dir="rtl"] .searchbar-md {
    padding-right: 0;
    padding-left: 0;
}

//ion-fab style
.left-fab {
    left: 10px;
}

.right-fab {
    right: 10px;
}

.takePhoto {
    position: relative;
    display: inline-block;
    margin: auto;

    ion-icon {
        font-size: 30px;
        position: absolute;
        right: 2px;
        bottom: 6px;
    }
}