page-shoppinglist {
   
    ion-header {
        position: relative !important;
    }

    .segment-button.segment-activated {
        background-color: #cfe4ba !important;
        color: black !important;
        border: 0px !important;
    }
    .item-inner {
        border-bottom: 0px !important;
    }
    
    ion-segment-button.segment-button {
        background-color: #e9ffd0 !important;
        color: black !important;
    } 

    ion-segment {
        display:flex;
        width: 100%;
        position: relative;
        width: 100%;
        z-index: 1;
        // top: 56px;
    }

    .segment-ios .segment-button {
        height: 4.2rem !important;
        line-height: 4rem !important;
    }
    
}
