<ion-header>
  <ion-navbar color="danger" style="text-align:center;">
    <ion-title>{{'list' | translate}}</ion-title>      
    <ion-buttons left>
      <button ion-button menuToggle>
          <ion-icon  class="menuToggle" ios="ios-list" md="ios-list" style="font-size: 3.2rem;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-segment [(ngModel)]="lists">
      <ion-segment-button (click)="getlist()" value="yourlist" style="font-size: 15px; font-family:makady;text-transform: none;">
        {{'yourlist' | translate}}
      </ion-segment-button>
      <ion-segment-button  (click)="getinvited()" value="invitedlist" style="font-size: 15px; font-family: makady;text-transform: none;">
        {{'invited' | translate}}
      </ion-segment-button>      
    </ion-segment>
</ion-header>


<ion-content padding>
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content 
      pullingIcon="ios-arrow-dropup"
      refreshingSpinner=null>
    </ion-refresher-content>
  </ion-refresher>

  <ion-row [hidden]="hide2">   
    <ion-searchbar style="padding-bottom: 0;" placeholder="{{'searchYours' | translate }}" [formControl]="searchControl"
    (ionChange)="onSearchInput()"  (ionCancel)="onCancel()" [(ngModel)]="myInput" [hidden]="hide2" [dir]="langdirection">
    </ion-searchbar>      

    <div *ngIf="searching" class="spinner-container">
      <ion-spinner name="bubbles"></ion-spinner>
    </div>

    <ion-col  class="nodata" col-12 style="margin-top: 50px;" *ngIf="isListEmpty">
      <p style="text-align: center;color:#e26c40;font-size: 1.4em;font-weight: bold;" [hidden]="hide2">{{'nolistes'| translate}}</p>
    </ion-col>

    <ion-col>       
      <ion-item style="border:1px solid #e26c40; border-radius: 10px;margin-top: 10px;" *ngFor="let item of listes" [hidden]="hide2">
          <ion-row>
            <ion-col col-1 (click)="opendetails(item.menu_id,item.menu_name)">
              <p><ion-icon name="ios-list-outline" style="color:#666;font-size: 2.2em;"></ion-icon></p>
            </ion-col>
            <ion-col col-10 (click)="opendetails(item.menu_id,item.menu_name)">
              <p style="color:#666;font-size: 1.8rem;margin: 3px 5px 0 3px;" class="menu-text">{{item.menu_name}}</p>
            </ion-col>
            <ion-col col-1>
              <p style="margin-bottom: 0px;font-size: 1.5em;margin-top: 0px;text-align: center;" (click)="deletelist(item.menu_id,'userList')"><ion-icon name="ios-close" style="text-align: center;"></ion-icon></p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-1 (click)="opendetails(item.menu_id,item.menu_name)"></ion-col>
            <ion-col col-5 (click)="opendetails(item.menu_id,item.menu_name)">
              <p style="color:#e26c40;"> {{'noofproducts'| translate}}{{item.total_quantity}}</p>
            </ion-col>
            <ion-col col-5 (click)="opendetails(item.menu_id,item.menu_name)" style="display:flex;justify-content: center;">
              <p style="color:#e26c40;">  {{'bought'| translate}}{{item.total_quantity_purchase}}</p>
            </ion-col>
            <ion-col col-1>
              <p style="margin-bottom: 0px;font-size: 1em;margin-top: -5px;text-align: center;" (click)="editlist(item.menu_id,item.menu_name)"><ion-icon name="md-create" style="text-align: center;"></ion-icon></p>
            </ion-col>            
          </ion-row>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row [hidden]="hide1">
    <ion-searchbar style="padding-bottom: 0;" placeholder="{{'searchinvited' | translate }}" [formControl]="searchControl2"
    (ionChange)="onSearchInput()"  (ionCancel)="onCancel()" [(ngModel)]="myInput" [hidden]="hide1"  [dir]="langdirection"></ion-searchbar>

    <div *ngIf="searching" class="spinner-container">
      <ion-spinner name="bubbles"></ion-spinner>
    </div>

    <ion-col class="nodata" col-12 style="margin-top: 50px;" *ngIf="isInvitedEmpty">
        <p style="text-align: center;color:#e26c40;font-size: 1.4em;font-weight: bold;" [hidden]="hide1">{{'noInvitedlistes'| translate}}</p>
    </ion-col>

    <ion-col>
      <ion-item style="border:1px solid #e26c40; border-radius: 10px;margin-top: 10px;" *ngFor="let item of inlistes" [hidden]="hide1">
        <ion-row style="margin-top: -8px;">
          <ion-col col-1 (click)="opendetails(item.menu_id,item.menu_name)">
            <p><ion-icon name="ios-list-outline" style="color:#666;font-size: 2.2em;"></ion-icon></p>
          </ion-col>
          <ion-col col-10 (click)="opendetails(item.menu_id,item.menu_name)">
            <p style="color:#666;font-size: 1.8rem;margin: 3px 5px 0 3px;" class="menu-text">{{item.menu_name}}</p>
          </ion-col>
          <ion-col col-1>
            <p style="margin-bottom: 0px;font-size: 1.5em;margin-top: 0px;text-align: center;" (click)="deletelist(item.menu_id,'invitedList')"><ion-icon name="ios-close" style="text-align: center;"></ion-icon></p>
          </ion-col> 
        </ion-row>
        <ion-row style="text-align: center">
          <ion-col col-6 (click)="opendetails(item.menu_id,item.menu_name)">
            <p style="color:#e26c40;"> {{'categories'| translate}}{{item.total_quantity}}</p>
          </ion-col>
          <ion-col col-6 (click)="opendetails(item.menu_id,item.menu_name)">
            <p style="color:#e26c40;">  {{'bought'| translate}}{{item.total_quantity_purchase}}</p>
          </ion-col>
          <!-- <ion-col col-1>
            <p style="margin-bottom: 0px;font-size: 1em;margin-top: -5px;text-align: center;" (click)="editlist(item.menu_id,item.menu_name)"><ion-icon name="md-create" style="text-align: center;"></ion-icon></p>
          </ion-col> -->
        </ion-row>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-fab bottom [ngClass]="{'left-fab':langdirection === 'ltr','right-fab':langdirection === 'rtl'}">
    <button ion-fab style="background:#e26c40;" (click)="addmenu()"><ion-icon style="color:white;" name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
