<!--
  Generated template for the ShoppinglistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="danger">
        <ion-buttons left *ngIf="langdirection=='ltr'">
             <button ion-button  menuToggle>
             <ion-icon  class="menuToggle" ios="md-list" md="md-list" style="font-size: 3.2rem;    margin-left: 0px;
             margin-right: 0px;"></ion-icon>
           </button>
           </ion-buttons>
            <ion-buttons right *ngIf="langdirection=='rtl'">
             <button ion-button  menuToggle>
             <ion-icon  class="menuToggle" ios="md-list" md="md-list" style="font-size: 3.2rem;    margin-left: 0px;
             margin-right: 0px;"></ion-icon>
           </button>
           </ion-buttons>
         <ion-title style="text-align:center;">{{'list' | translate}}</ion-title>
         <ion-buttons right *ngIf="langdirection=='ltr'" (click)="friendlist()">
          <button ion-button icon-only>
              <ion-icon name="md-people" style="font-size: 2.2rem;color:white"></ion-icon>
        
          </button>
        </ion-buttons>
        <ion-buttons left *ngIf="langdirection=='rtl'" (click)="friendlist()">
          <button ion-button icon-only>
              <ion-icon name="md-people" style="font-size: 2.2rem;color:white"></ion-icon>
        
          </button>
        </ion-buttons>
       </ion-navbar>

</ion-header>


<ion-content padding>
    <div padding>
        <ion-segment  [(ngModel)]="lists">
          <ion-segment-button (click)="getlist()" value="yourlist" style="font-size: 15px; font-family:makady;    text-transform: none;">
            {{'yourlist' | translate}}
          </ion-segment-button>
          <ion-segment-button  (click)="getinvited()" value="invitedlist" style="font-size: 15px; font-family: makady;    text-transform: none;">
            {{'invited' | translate}}
          </ion-segment-button>
         
        </ion-segment>
      </div>
      <ion-searchbar [dir]="langdirection" *ngIf="langdirection=='ltr'" [hidden]="hide1" [dir]="langdirection" style="margin-top: 0px;" placeholder="Search For Menu" (ionInput)="onInputinvited(myInput)"  (ionCancel)="onCancel()" [(ngModel)]="myInput">
        </ion-searchbar>
        <ion-searchbar [dir]="langdirection" *ngIf="langdirection=='ltr'" [hidden]="hide2" [dir]="langdirection" style="margin-top: 0px;" placeholder="Search For Menu" (ionInput)="onInput(myInput)"  (ionCancel)="onCancel()" [(ngModel)]="myInput">
          </ion-searchbar>
          <ion-searchbar [dir]="langdirection" *ngIf="langdirection=='rtl'" [hidden]="hide1" [dir]="langdirection" style="margin-top: 0px;text-align: right;" placeholder="البحث عن قائمة" (ionInput)="onInputinvited(myInput)"  (ionCancel)="onCancel()" [(ngModel)]="myInput">
          </ion-searchbar>
          <ion-searchbar [dir]="langdirection" *ngIf="langdirection=='rtl'" [hidden]="hide2" [dir]="langdirection" style="margin-top: 0px;text-align: right;" placeholder="البحث عن قائمة" (ionInput)="onInput(myInput)"  (ionCancel)="onCancel()" [(ngModel)]="myInput">
            </ion-searchbar>
        <div [ngSwitch]="lists">
           
            <p style="text-align: center;color:#e26c40;font-size: 1.4em;font-weight: bold;"[hidden]="hide">{{'nolistes'| translate}}</p>
              <ion-item  style="border:1px solid #e26c40; border-radius: 15px;margin-top: 10px;" *ngFor="let item of listes">
                   <ion-row style="margin-top: -8px;" >
                     <ion-col col-2 (click)="opendetails(item.menu_id,item.menu_name)">
                       <p [dir]="langdirection" ><ion-icon name="ios-list-outline" style="color:#e26c40;font-size: 2.2em;"></ion-icon></p>
                     </ion-col>
                     <ion-col col-8 (click)="opendetails(item.menu_id,item.menu_name)">
                       <p [dir]="langdirection" style="color:#e26c40;font-size: 1.8rem;">{{item.menu_name}}</p>
                     </ion-col>
                     <ion-col col-2>
                        <p [dir]="langdirection" style="margin-bottom: 0px;font-size: 1.5em;margin-top: 0px;text-align: center;" (click)="deletelist(item.menu_id)"><ion-icon name="ios-close" style="text-align: center;"></ion-icon></p>
                     </ion-col>
                   </ion-row>
                   <ion-row>
                     <ion-col col-2 (click)="opendetails(item.menu_id,item.menu_name)"></ion-col>
                     <ion-col col-4 (click)="opendetails(item.menu_id,item.menu_name)">
                       <p style="color:#e26c40;"> {{'categories'| translate}}{{item.total_quantity}}</p>
                     </ion-col>
                     <ion-col col-4 (click)="opendetails(item.menu_id,item.menu_name)">
                        <p style="color:#e26c40;">  {{'bought'| translate}}{{item.total_quantity_purchase}}</p>
                     </ion-col>
                     <ion-col col-2>
                      <p [dir]="langdirection" style="margin-bottom: 0px;font-size: 1em;margin-top: -5px;text-align: center;" (click)="editlist(item.menu_id,item.menu_name)"><ion-icon name="md-create" style="text-align: center;"></ion-icon></p>
                   </ion-col>            
                         </ion-row>
              </ion-item>
              
              </div>
              <div [ngSwitch]="invitedlist">
                  
                  <p style="text-align: center;color:#e26c40;font-size: 1.4em;font-weight: bold;"[hidden]="show">{{'nolistes'| translate}}</p>
                    <ion-item    style="border:1px solid #e26c40; border-radius: 15px;margin-top: 10px;" *ngFor="let item of inlistes">
                         <ion-row style="margin-top: -8px;">
                           <ion-col col-2  (click)="opendetails(item.menu_id,item.menu_name)">
                             <p [dir]="langdirection"><ion-icon name="ios-list-outline" style="color:#e26c40;font-size: 2.2em;"></ion-icon></p>
                           </ion-col>
                           <ion-col col-8  (click)="opendetails(item.menu_id,item.menu_name)">
                             <p [dir]="langdirection" style="color:#e26c40;font-size: 1.8rem;">{{item.menu_name}}</p>
                           </ion-col>
                           <ion-col col-2>
                              <p [dir]="langdirection" style="margin-bottom: 0px;font-size: 1.5em;margin-top: 0px;text-align: center;" (click)="deletelist(item.menu_id)"><ion-icon name="ios-close" style="text-align: center;"></ion-icon></p>
                           </ion-col>
                         </ion-row>
                         <ion-row>
                           <ion-col col-2  (click)="opendetails(item.menu_id,item.menu_name)"></ion-col>
                           <ion-col col-4  (click)="opendetails(item.menu_id,item.menu_name)">
                             <p style="color:#e26c40;"> {{'categories'| translate}}{{item.total_quantity}}</p>
                           </ion-col>
                           <ion-col col-4  (click)="opendetails(item.menu_id,item.menu_name)">
                              <p style="color:#e26c40;">  {{'bought'| translate}}{{item.total_quantity_purchase}}</p>
                           </ion-col>
                           <ion-col col-2>
                            <!-- <p [dir]="langdirection" style="margin-bottom: 0px;font-size: 1em;margin-top: -5px;text-align: center;" (click)="editlist(item.menu_id)"><ion-icon name="md-create" style="text-align: center;"></ion-icon></p> -->
                         </ion-col>  
                         </ion-row>
                    </ion-item>
                    
                    </div>
                    <ion-fab *ngIf="!this.platform.isRTL" right bottom>
                      <button ion-fab style="background:#e26c40;" (click)="addmenu()"><ion-icon style="color:white;" name="add"></ion-icon></button>
                    </ion-fab>
                    <ion-fab *ngIf="this.platform.isRTL" left bottom>
                      <button ion-fab style="background:#e26c40;" (click)="addmenu()"><ion-icon style="color:white;" name="add"></ion-icon></button>
                    </ion-fab>  
</ion-content>
