<ion-header>
  <ion-navbar color="danger" hideBackButton style="text-align:center;">
    <ion-title>{{ categoryName }}</ion-title>
    <ion-buttons left>
      <button ion-button (click)="ViewCtrl.dismiss()">
        <ion-icon md="ios-arrow-back" ios="ios-arrow-back" style="font-size: 2.5rem;color:white;" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

<!-- 
  	<ion-row>
        <ion-col style="justify-content: center;display: flex;">
          <ion-card *ngIf="createdCode">
            <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>		
          </ion-card>
        </ion-col>
      </ion-row> -->

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content 
      pullingIcon="ios-arrow-dropup"
      refreshingSpinner=null>
    </ion-refresher-content>
  </ion-refresher>


  <div style="position: relative;">
    <ion-searchbar [dir]="langdirection" style="margin-top: 0px;" placeholder="{{ 'searchproduct' | translate }}" (ionInput)="onInput(myInput)"  (ionCancel)="onCancel()" [(ngModel)]="myInput">
    </ion-searchbar>
    <ion-icon [dir]="langdirection" class="barcode-icon" ios="ios-barcode-outline" md="ios-barcode-outline" (click)="searchByBarcode()"></ion-icon>
  </div>

  <ion-row class="nodata" *ngIf="products.length === 0">
    <ion-col>
      <p style="text-align: center;color:#e26c40;font-size: 1.4em;font-weight: bold;">{{'noproducts'| translate}}</p>
    </ion-col>
  </ion-row>
  
  <div style="border:1px solid #e26c40; border-radius: 15px;margin:10px 14px;"  *ngFor="let item of products">
    <ion-row style="position:relative;">
      <img src="{{item.product_image}}" class="circle-pic"
          onerror="this.onerror=null;this.src='assets/imgs/error.png';">
          
      <ion-col col-1></ion-col>

      <ion-col col-5>
        <p style="margin-top: 15px;">{{item.product_name}}</p>
      </ion-col>

      <ion-col col-5>
        <ion-row style="margin-top: 9px;">
          <ion-col col-4>
            <ion-fab left bottom style="bottom: 1px;">
              <button (click)="AddQuantityNum(item.product_id)" ion-fab color=quantityColor style="width: 16px;height: 19px;"><ion-icon name="add" style="font-size: 1.8rem;"></ion-icon></button>
            </ion-fab>
          </ion-col>

          <ion-col col-4 style="text-align: center">
            <span style="text-align: center;">{{item.count}} </span>
          </ion-col>

          <ion-col col-4>
            <ion-fab right bottom style="bottom: 1px;">
              <button (click)="minusQuantityNum(item.product_id)" ion-fab color=quantityColor style="width: 16px;height: 19px;"><ion-icon name="remove" style="font-size: 1.8rem;"></ion-icon></button>
            </ion-fab>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col col-1></ion-col>


      <button class="addBtn" ion-button style="background-color:#e26c40;width: 36px; height: 40px; font-size: 13px;color:white;text-align:center;width: 40px;white-space: normal;border-radius: 14px;" (click)="addtomenu(item)" *ngIf="userMenuId">{{'menuadd' | translate}}</button>      
      <button class="addBtn" ion-button style="background-color:#e26c40;width: 36px; height: 40px; font-size: 13px;color:white;text-align:center;width: 40px;white-space: normal;border-radius: 14px;" (click)="addtomenu(item)" *ngIf="!userMenuId">{{'addTo' | translate}}</button>
    </ion-row>
  </div>
</ion-content>
