page-listdetails {
    .circle-pic{
        border:0px;
        width: 48px;
        height: 48px;
        border-radius: 2% !important;
        text-align: center;
        margin-top: 0px;
        margin-left: 1px;
    }
    .text-input-md {

        margin: 1px 8px !important;
        padding: 0;
        width: calc(100% - 8px - 8px);
    
    }
    .text-input-ios {

        margin: 1px 8px !important; 
        padding: 0;
        width: calc(100% - 8px - 8px);
    
    }
}
