<!--
  Generated template for the ListdetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar  color="danger" hideBackButton>
        <ion-title style="text-align:center;">{{'listes' | translate}}</ion-title>
    
        <ion-buttons right *ngIf="langdirection=='ltr'">
            <button ion-button (click)="ViewCtrl.dismiss()">
                <ion-icon md="ios-arrow-forward" ios="ios-arrow-forward"  style="font-size: 2.5rem;color:white;" ></ion-icon>
            </button>
            </ion-buttons>
            <ion-buttons right *ngIf="langdirection=='rtl'">
              <button ion-button (click)="ViewCtrl.dismiss()">
                  <ion-icon md="ios-arrow-back-outline"  ios="ios-arrow-back-outline" style="font-size: 2.5rem;color:white;" ></ion-icon>
              </button>
          </ion-buttons>
      </ion-navbar>

</ion-header>

<ion-content padding>
    <div style="box-shadow: 3px 3px 10px 2px lightgrey;margin-top:10px;" >
        <ion-row [dir]="langdirection"  style="border-bottom: 1px solid lightgray;width: 100%;">
      <p [dir]="langdirection" style="color:#e26c40;font-weight: bold;font-size: 1.5em;margin-top:15px;margin-right:15px;margin-left:15px;">{{name}}</p>
        </ion-row> 
      <ion-row [hidden]="show" [dir]="langdirection" *ngFor="let item of detailsdata" style="border-bottom: 1px solid lightgray;width: 100%;">
          <ion-col col-2  (click)="opendetails(item.name)">
          <ion-icon [dir]="langdirection" name="ios-arrow-down-outline" style="color:#e26c40;font-size: 2em; margin-right: 15px;"></ion-icon>
        </ion-col>
        <ion-col col-10 *ngIf="item.quantity != item.purchase">
          <p [dir]="langdirection" style="color:#e26c40;font-size: 1.2em;margin-top:2px;">{{item.name}}</p>
        </ion-col>
        <ion-col col-10 *ngIf="item.quantity == item.purchase">
          <del [dir]="langdirection" style="color:#e26c40;font-size: 1.2em;margin-top:10px;">{{item.name}} ( {{item.quantity }} / {{item.purchase}} ) </del>
        </ion-col>
        </ion-row>
       
        <div [hidden]="hide" [dir]="langdirection"  style="border-bottom: 1px solid lightgray;width: 100%;">
         <ion-row >
          <ion-col col-2 (click)="closedetails()">
            <ion-icon [dir]="langdirection" name="ios-arrow-up-outline" style="color:#e26c40;font-size: 2em; margin-right: 15px;"></ion-icon>
          </ion-col>
          <ion-col col-10 *ngIf="quantity != purchase">
            <p [dir]="langdirection" style="color:#e26c40;font-size: 1.2em;margin-top:2px;">{{category_name}}</p>
          </ion-col>
          <ion-col col-10 *ngIf="quantity == purchase">
            <del [dir]="langdirection" style="color:#e26c40;font-size: 1.2em;margin-top:10px;">{{category_name}} ( {{quantity }} / {{purchase}} ) </del>
          </ion-col>
          </ion-row>
          <ion-row  style="border-bottom: 1px solid lightgray;width: 100%;" *ngFor="let item of products">
          <ion-col col-4>
              <p style="text-align: center;">{{'ordered' | translate}}</p>
              <p style="text-align: center;">{{item.total_quantity}}</p>
          </ion-col>
          <ion-col col-4>
            <p [dir]="langdirection"><img  src="{{item.product_image}}" class="circle-pic"
              onerror="this.onerror=null;this.src='assets/imgs/Bread.jpg';">
            </p>
          </ion-col>
          <ion-col col-4>
            <p>{{item.name_en}}</p>
          </ion-col>
          <ion-row style="width:100%;">
            <ion-col col-3>
              <p style="text-align: center;margin-top: 3px;">{{'buy' | translate}}</p>
            <ion-input style="margin-top: -10px;
            margin-right: 22px;
            margin-left: 22px;
            text-align: center;
            border: 1px solid lightgray;
            width: 30px;
            height: 20px;
            font-size: 10px;" [(ngModel)]="buy"> </ion-input>
            </ion-col>
            <ion-col col-3>
              <p style="text-align: center;margin-top: 3px;">{{'price' | translate}}</p>
            <ion-input style="margin-top: -10px;
            margin-right: 22px;
            margin-left: 22px;
            text-align: center;
            border: 1px solid lightgray;
            width: 30px;
            height: 20px;
            font-size: 10px;" [(ngModel)]="price"> </ion-input>
            </ion-col>
            <ion-col col-2>
              <button ion-button style="background-color: #e26c40;width:40px;height:40px; color:white;width:100%;" (click)="save(item.menu_item_id)">{{'save' | translate}}</button>
            </ion-col>
            <ion-col col-2>
              <ion-icon style="color:#e26c40;margin-top: 14px;margin-right: 20px; margin-left: 20px;" name="md-checkbox" *ngIf="item.total_quantity==item.total_quantity_purchase"></ion-icon>
            </ion-col>
            <ion-col col-2>
              <ion-icon style="color:#e26c40;margin-top: 14px;" name="md-more" (click)="openpop(item.menu_item_id,item.name_ar)"></ion-icon>
            </ion-col>
          </ion-row>
          </ion-row>
          <ion-row  [dir]="langdirection" *ngFor="let item of detailsdata" style="border-bottom: 1px solid lightgray;width: 100%;">
            <ion-col col-2  (click)="opendetails(item.name)">
            <ion-icon [dir]="langdirection" name="ios-arrow-down-outline" style="color:#e26c40;font-size: 2em; margin-right: 15px;"></ion-icon>
          </ion-col>
          <ion-col col-10 *ngIf="item.quantity != item.purchase">
            <p [dir]="langdirection" style="color:#e26c40;font-size: 1.2em;margin-top:2px;">{{item.name}}</p>
          </ion-col>
          <ion-col col-10 *ngIf="item.quantity == item.purchase">
            <del [dir]="langdirection" style="color:#e26c40;font-size: 1.2em;margin-top:10px;">{{item.name}} ( {{item.quantity }} / {{item.purchase}} ) </del>
          </ion-col>
          </ion-row>
        </div>
          <ion-row style="width:100%;">
              <ion-col col-1></ion-col>
              <ion-col col-10>
                <p><button ion-button style="background-color:#e26c40;width:100%;font-size: 1.5em;" (click)="addproduct()">{{'addproduct' | translate}}</button></p>
              </ion-col>
              <ion-col col-1></ion-col>
            </ion-row>
          
    </div>
</ion-content>
